<%- include("../template/head",{title:"Mascotas"}) %>
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i>Mis Mascotas</h1>
      <p>Listado de las mascotas</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Mascotas</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table class="table table-sm table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Animal</th>
                <th>Descripcion</th>
              </tr>
            </thead>
            <tbody>
              <% if (data.length > 0) { %>
                <% data.forEach(row => { %>
                 <tr>
                   <td><%= row._id %></td></td>
                   <td><%= row.Nombre %></td>
                   <td><%= row.Descripcion %></td>
                 </tr>
                <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("../template/body") %>